aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.4.0
attrs==25.3.0
audioop-lts==0.2.1
colorama==0.4.6
discord.py==2.5.2
frozenlist==1.7.0
idna==3.10
joblib==1.5.1
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.6.3
numpy==2.3.1
prettytable==3.16.0
propcache==0.3.2
pyfiglet==1.0.3
pygame==2.6.1
Pygments==2.19.2
rich==14.0.0
scikit-learn==1.7.0
scipy==1.16.0
tabulate==0.9.0
threadpoolctl==3.6.0
wcwidth==0.2.13
yarl==1.20.1
